body {
    margin-left: 80px; margin-right: 80px; margin-top: 50px; margin-bottom: 100px; background-color: rgb(205, 255, 254); color: black; 
}

h1 {
    color: blue;font-size: 50px; text-align: center;
}

p {
     color: black; line-height: 25px; text-align: justify;
}

#H2 size {
    font-size: 30px; color: black;
}

.Title1 {
    color:rgba(255, 139, 30, 0.932);font-size: 25px;line-height: 20px;
}

.Title2 {
    color:black;font-size: 20px;
}

